body { margin: 0; background: #121212; color: white; font-family: sans-serif; display: flex; justify-content: center; align-items: center; height: 100vh; overflow: hidden; }
.screen { width: 90%; max-width: 400px; text-align: center; }
.hidden { display: none; }
.logo-text { font-size: 3rem; color: #ffcc00; text-shadow: 2px 4px #cc0000; margin-bottom: 20px; }
input { width: 80%; padding: 12px; margin: 10px; border-radius: 5px; border: none; font-size: 1rem; }
button { width: 85%; padding: 12px; margin: 8px; border-radius: 8px; border: none; background: #007bff; color: white; font-weight: bold; cursor: pointer; }
.btn-confirm { background: #28a745; }
#board-container { width: 95vw; height: 95vw; max-width: 450px; max-height: 450px; background: white; margin: 10px auto; border: 4px solid #333; }
#ludoCanvas { width: 100%; height: 100%; }
#dice-box { width: 60px; height: 60px; background: white; color: black; font-size: 2rem; display: flex; align-items: center; justify-content: center; margin: 10px auto; border-radius: 10px; border: 3px solid #ffcc00; }
.game-info { display: flex; justify-content: space-between; padding: 10px; background: #1f1f1f; width: 100%; }
